.book-ratings {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(60px, 1fr)));
  grid-gap: 15px;
}

.book-rating {
  position: relative;
  height: 60px;
  border-radius: 5px;

  &.-rating-5 {
    background-color: var(--book-5-stars);
  }

  &.-rating-4 {
    background-color: var(--book-4-stars);
  }

  &.-rating-3 {
    background-color: var(--book-3-stars);
  }

  &.-rating-2 {
    background-color: var(--book-2-stars);
  }

  &.-rating-1 {
    background-color: var(--book-1-star);
  }

  &.-rating-0 {
    background-color: var(--book-dnf);
  }

  &.-empty {
    border: 1px dashed var(--color-yellow-darker);
    > .count {
      color: var(--color-yellow);
      opacity: .5;
    }
  }

  &:not(.-empty) {
    cursor: pointer;
  }

  &.-active {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, .1);
    transition: all .3s;
  }

  .count {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-weight: var(--text-weight-bolder);
    font-size: 22px;
    color: var(--color-white);
  }
}