<div class="book-ratings" (mouseleave)="update(-1)">
  <div class="book-rating -rating-{{book.rating}}" *ngFor="let book of titles; let i = index" (mouseenter)="update(i)"
    (click)="update(i)" [class.-active]="activeBookIndex === i" appTooltip [tooltip]="book.title">
    <p class="count">{{ book.count === 0 ? "DNF" : book.count }}</p>
  </div>

  <div class="book-rating -empty" *ngFor="let item of [].constructor(remainingCount); let i = index"
    (mouseenter)="update(-1)">
    <p class="count">{{ i + lastCount }}</p>
  </div>
</div>