@import "../../../assets/styles/utilities.scss";

ol {

  li {
    font-size: 12px;
    font-weight: var(--text-weight-bolder);
    border: 1px solid transparent;

    &.-skip {
      list-style: none;
      opacity: .6;
    }

    &.-active {
      border: 1px solid var(--color-yellow-darker);
    }
  }
}

.book-title {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 16px;
  .title {
    flex-shrink: 0;
    color: var(--color-yellow-darker);

    @extend ._hover;
    &:hover {
      color: var(--color-white);
      transition: ease-in 0.5s;
    }

    .buy {
      opacity: .7;
      transition: all .2s;

      &:hover {
        opacity: 1;
      }
    }
  }


}

.book-author {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-self: center;
  font-size: 14px;
  font-weight: var(--text-weight-normal);
  > a {
    flex-shrink: 0;
    @extend ._hover;
  }

  p {
    flex-shrink: 0;
  }

  .problematic {
    width: 12px;
  }
}

@media (max-width: 1600px) {
  .book-title {
    padding-bottom: 5px;
    padding-right: 25px;
    width: 100%;
    .title {
      display: block;
      flex-basis: 100%;
    }

    .buy {
      position: absolute;
      right: 0;
    }
  }

  .book-author {
    max-width: fit-content;
  }
}