<ol (mouseout)="update(-1)">
  <li *ngFor="let book of titles; let index = index" value="{{ book.count }}" [class.-skip]="book.count === 0"
    [class.-active]="activeBookIndex === index" (mouseenter)="update(index)">
    <div class="book-title">
      <a href="{{ book.readLink }}" class="title" target="_blank" title="goodreads | {{ book.title }}">{{ book.title
        }}</a>
      <a class="buy" href="{{ book.buyLink }}" target="_blank" title="buy | {{ book.title }}">
        <img class="icon" src="/assets/images/svg/buy.svg">
      </a>
      <span class="book-author">
        &nbsp;-&nbsp;
        <ng-container *ngFor="let author of book.author; let i = index;">
          <a *ngIf="author.link" href="{{ author.link }}" class="author" target="_blank" title="{{author.link}}">
            {{author.name}}
          </a>

          <p *ngIf="!author.link" class="author">
            {{author.name}}
          </p>

          <ng-container *ngIf="author.problematic">
            <img class="problematic" src="/assets/images/svg/warning.svg" appTooltip
              [tooltip]="'Author is problematic: ' + author.problematic">
          </ng-container>
          <ng-container *ngIf="i !== book.author.length - 1">,&nbsp;</ng-container>
        </ng-container>
      </span>
    </div>
  </li>
</ol>