<footer>
  <div class="app-footer">
    <div class="footer-content _container">
      <p class="title">Collab with me!</p>
      <p class="description">
        I am open for photography, multimedia and web commissions.
      </p>
      <p class="description">
        Let's discuss at
        <a href="mailto:gioweeargao@gmail.com?Subject=Hello%20Gweh!" target="_top"
          title="send me an email!">gioweeargao@gmail.com</a>
      </p>
    </div>
  </div>

  <div class="footer-links _container">
    <p class="name">© gwenduling 2021</p>
    <div class="divider"></div>
    <div class="footer-link">
      <a class="link" href="http://instagram.com/gwehh" target="_blank" title="Instagram | @gwehh">
        <img class="icon" src="/assets/images/svg/instagram.svg">
      </a>
      <a class="link" href="http://twitter.com/gwenduling" target="_blank" title="Twitter | @gwenduling">
        <img class="icon" src="/assets/images/svg/twitter.svg">
      </a>
      <a class="link" href="http://facebook.com/gwenduling" target="_blank" title="Facebook | Giowee Argao">
        <img class="icon" src="/assets/images/svg/facebook.svg">
      </a>
      <a class="link" href="http://github.com/gwenduling" target="_blank" title="Github | @gwenduling">
        <img class="icon" src="/assets/images/svg/github.svg">
      </a>
      <a class="link" href="http://www.linkedin.com/in/rozzette-giorelle-argao-ba9275a1/" target="_blank"
        title="LinkedIn | Rozzette Giorelle Argao">
        <img class="icon" src="/assets/images/svg/linkedin.svg">
      </a>
      <a class="link" href="http://codepen.io/gwenduling" target="_blank" title="CodePen | gwenduling">
        <img class="icon" src="/assets/images/svg/codepen.svg">
      </a>
      <a class="link" href="https://www.youtube.com/channel/UCYsenzRZ4bhl5RFpyjMyu8Q" target="_blank"
        title="Youtube | Giowee Argao">
        <img class="icon" src="/assets/images/svg/youtube.svg">
      </a>

      <a class="link" href="https://www.tiktok.com/@kwehhhhhh?lang=en" target="_blank" title="Tiktok | Kwe">
        <img class="icon" src="/assets/images/svg/tiktok.svg">
      </a>
    </div>
  </div>
</footer>