<div class="book-ads">
  <a class="ad" href="https://fullybooked.sjv.io/c/3208535/1238407/14703?subId2=affiliates&subId1=ads" target="_blank"
    title="Fully Booked | Reading Challenge 2022">
    <img class="icon" src="/assets/images/fullybooked-2.png">
  </a>
  <a class="ad" href="https://fullybooked.sjv.io/c/3208535/1164388/14703" target="_blank"
    title="Online Book Store | Fully Booked PH">
    <img class="icon" src="/assets/images/fullybooked-3.jpeg">
  </a>
</div>