<header class="app-header">
  <p class="title">gwenduling</p>

  <div class="nav-items">
    <a class="item _hover" routerLink="/">Home</a>
    <div class="divider"></div>
    <a class="item _hover" routerLink="/blog">Blog</a>
    <div class="divider"></div>
    <a class="item _hover" routerLink="/lnks">Links</a>
    <div class="divider"></div>
    <a class="item _hover" routerLink="/books">Books</a>
  </div>
</header>
<div class="_divider"></div>