@import "../../../assets/styles/utilities.scss";

.app-header {
  @extend ._padding-bottom;
  .title {
    @extend ._padding-top;

    font-size: 70px;
    text-align: center;
    font-weight: 200;
    color: var(--color-yellow-darker);
    letter-spacing: 15px;

    @media (max-width: 550px) {
      font-size: 50px;
    }

    @media (max-width: 450px) {
      font-size: 40px;
    }

    @media (max-width: 350px) {
      font-size: 30px;
    }
  }

  .nav-items {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: var(--text-size);

    .item {
      padding-left: 20px;
      padding-right: 20px;
      color: var(--color-default);
    }

    .divider {
      flex-shrink: 0;
      width: 1px;
      background-color: var(--color-yellow);
    }

    @media (max-width: 400px) {
      padding-bottom: 10px;
      overflow-x: auto;
    }
  }
}
