<div class="link-profile">
  <div class="image">
    <img src="/assets/images/gwe_profile.jpeg">
  </div>

  <div class="profile-content">
    <p class="name">Gweh</p>
    <p class="nicknames">Kweh | Giowee | Gwenduling</p>
    <p>🐣🎀</p>
  </div>
</div>