@import "../../../assets/styles/utilities.scss";

.link-profile {
  @extend ._padding-top;
  display: flex;
  padding-bottom: 30px;
  .image {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
    flex-shrink: 0;

    > img {
      max-width: 100%;
      overflow: hidden;
      object-fit: cover;
      border-radius: 100%;
      border: 3px solid var(--color-yellow-darker);
    }
  }

  .profile-content {
    margin-left: 20px;
    .name {
      font-size: 25px;
      font-weight: 800;
    }

    .nicknames {
      margin-bottom: 10px;
      font-size: 12px;
    }
  }
}
