<div class="book-stores">
  <p class="title">Where do I buy my books?</p>

  <ul class="store-list">
    <li class="link">
      <a href="https://fullybooked.sjv.io/7mDqNA" title="Online Bookstore PH | Fully Booked Online Philippines"
        target="_blank">
        <span class="highlight">Fully Booked Online</span> | Free Shipping for 799+</a>
    </li>

    <li class="link">
      <a href="https://www.bookdepository.com/" title="Book Depository"> <span class="highlight">Book Depository</span>
        | International Free Shipping</a>
    </li>

    <li class="link">
      <a href="https://www.lazada.com.ph/shop/big-bad-wolf-books/" title="Big Bag Wolf Books | Lazada"><span
          class="highlight">Big Bad Wolf
          Books | Lazada</span></a>
    </li>

    <li class="link">
      <a href="https://www.facebook.com/booksfromusph/" title="Books From Us | Facebook">
        <span class="highlight">Books From Us | Facebook</span> | Preorders</a>
    </li>
  </ul>
</div>