@import "../../../assets/styles/utilities.scss";

.book-stores {
  padding: 15px;
  background-color: var(--color-yellow-darker);

  .title {
    @extend ._text-title;
    color: var(--color-white);
  }

  .store-list {
    padding-left: 15px;
    > .link {
      margin-bottom: 3px;
      list-style: circle;
      > a {
        font-weight: var(--text-weight-bold);
        color: var(--color-white);

        > .highlight {
          font-weight: var(--text-weight-bolder);
        }

        @extend ._focus-white;

        &:hover {
          background-color: var(--color-white);
          color: var(--color-yellow);
          transition: ease-in 0.2s;
        }
      }
    }
  }
}
