<app-info [content]="'#KulayRosasAndBukas'" [emoji]="'🎀'">
</app-info>
<div class="_container books-component">
  <p class="title">Kwe the bookworm 🤓📚</p>
  <p class="goal">2022 Reading Goal: 100 books </p>

  <div class="book-links">
    <a class="link" href="https://www.tiktok.com/@kwehhhhhh?lang=en" target="_blank" title="Tiktok | Kwe">
      Booktok
    </a>
    |
    <a class="link" href="https://www.goodreads.com/user_challenges/31093734" target="_blank"
      title="Goodreads | 2022 Reading Challenge">
      Goodreads
    </a>
  </div>

  <div class="affiliate">
    <p>* Some links are affiliate. I may earn a commission when you successfully purchase using those links. 🐣</p>
  </div>

  <div class="books-list">
    <div class="left">
      <app-rating-legend></app-rating-legend>
      <app-book-ratings [activeBookIndex]="activeBookIndex" (updateActive)="updateActiveBookIndex($event)">
      </app-book-ratings>
    </div>
    <div class="center">
      <app-book-titles [activeBookIndex]="activeBookIndex" (updateActive)="updateActiveBookIndex($event)">
      </app-book-titles>
    </div>
    <div class="right">
      <app-link-book-ads></app-link-book-ads>
    </div>
  </div>
</div>

<app-info [link]="'https://fullybooked.sjv.io/7mDqNA'" [content]="'Shop books in Fully Booked!'"
  [title]="'Online Bookstore PH | Fully Booked Online Philippines'" [emoji]="'📚'">
</app-info>

<app-blog-recent></app-blog-recent>