@import "../../../assets/styles/utilities.scss";

.books-component {
  @extend ._padding-y;
  .title {
    @extend ._text-title;
    color: var(--color-yellow-darker);
  }

  .goal {
    font-size: 16px;
    font-weight: var(--text-weight-bolder);
  }
}

.books-list {
  display: flex;

  > .left {
    flex-basis: 600px;
    flex-shrink: 0;
    padding-right: 30px;
  }

  > .center {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 30px;
  }

  > .right {
    flex-basis: 250px;
    flex-grow: 0;
  }

  @media (max-width: 1600px) {
    > .left {
      flex-basis: 450px;
    }
  }

  @media (max-width: 1200px) {
    > .left {
      flex-basis: 380px;
    }

    > .right {
      display: none;
    }
  }

  @media (max-width: 780px) {
    > .left {
      flex-basis: 260px;
    }
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    > .left,
    > .center,
    > .right {
      flex-basis: 100%;
      padding-right: 0;
    }

    > .center {
      order: 1;
    }

    > .left {
      order: 2;
    }

    > .right {
      display: block;
      padding-top: 15px;
      order: 3;
    }
  }
}

.book-links {
  display: flex;
  padding-top: 5px;
  padding-bottom: 30px;

  > a {
    font-size: 14px;

    @extend ._hover;
  }
}

.affiliate {
  p {
    font-size: 12px;
  }
}