@import "../../../assets/styles/utilities.scss";

.link-tree {
  display: flex;
  @extend ._padding-bottom;

  .left {
    flex-basis: 800px;
    flex-shrink: 1;
    flex-grow: 0;
    margin-right: 40px;
  }

  .right {
    flex-basis: 250px;
    flex-grow: 0;
    margin-top: 200px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    max-width: 580px;
    margin: 0 auto;

    .left {
      margin-right: 0;
      margin-right: unset;
    }

    .right {
      margin-top: 15px;
      flex-basis: 0;
    }
  }
}

.book-links {
  margin-top: 20px;
  .title {
    @extend ._text-title;
    color: var(--color-yellow-darker);
  }

  .book-recs {
    display: flex;
    flex-wrap: wrap;
    > * {
      flex-basis: calc((100% - 15px) / 2);

      &:nth-child(even) {
        margin-left: 15px;
      }
    }

    @media (max-width: 800px) {
      > * {
        flex-basis: 100%;

        &:nth-child(even) {
          margin-left: unset;
        }
      }
    }
  }
}

.affiliate {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: var(--text-weight-bold);
  background-color: var(--color-yellow);
  color: var(--color-white);
}
