<div class="_container link-tree">
  <div class="left">
    <app-link-profile></app-link-profile>
    <app-link-book-stores></app-link-book-stores>

    <div class="book-links">
      <p class="title">
        favorite books!
      </p>

      <div class="book-recs">
        <div *ngFor="let bookrec of bookrecs; let even = even">
          <app-link-book-rec [bookrec]="bookrec" [even]="even"></app-link-book-rec>
        </div>
      </div>
    </div>

    <app-link-list></app-link-list>

    <p class="affiliate">Hello! I may earn a commission when you successfully purchase using the links above. 🐣</p>
  </div>

  <div class="right">
    <app-link-book-ads></app-link-book-ads>
  </div>
</div>

<app-info [content]="'#LetLeniLead2022 #LabanLeni2022'" [emoji]="'🎀'">
</app-info>
<app-blog-recent></app-blog-recent>