@import "../../../assets/styles/utilities.scss";

.legend-component {
  .title {
    font-size: 16px;
    font-weight: var(--text-weight-bolder);
  }
}

.legend-items {
  padding-bottom: 15px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .legend {
    display: flex;
    margin-bottom: 10px;

    .name {
      margin-left: 5px;
      font-size: 13px;
    }

    .color {
      width: 15px;
      height: 15px;

      &.-rating-5 {
        background-color: var(--book-5-stars);
      }
    
      &.-rating-4 {
        background-color: var(--book-4-stars);
      }
    
      &.-rating-3 {
        background-color: var(--book-3-stars);
      }
    
      &.-rating-2 {
        background-color: var(--book-2-stars);
      }
    
      &.-rating-1 {
        background-color: var(--book-1-star);
      }
    
      &.-rating-0 {
        background-color: var(--book-dnf);
      }
    }
  }
}
