<div class="legend-component">
  <p class="title">Legend: </p>
  <div class="legend-items">
    <div class="legend">
      <div class="color -rating-5"></div>
      <p class="name">5 stars</p>
    </div>
    <div class="legend">
      <div class="color -rating-4"></div>
      <p class="name">4 stars</p>
    </div>
    <div class="legend">
      <div class="color -rating-3"></div>
      <p class="name">3 stars</p>
    </div>
    <div class="legend">
      <div class="color -rating-2"></div>
      <p class="name">2 stars</p>
    </div>
    <div class="legend">
      <div class="color -rating-1"></div>
      <p class="name">1 star</p>
    </div>
    <div class="legend">
      <div class="color -rating-0"></div>
      <p class="name">DNF</p>
    </div>
  </div>
</div>