<div class="book-rec">
  <div class="image">
    <a tabindex="-1" [href]="bookrec?.link" target="_blank" title="{{'Fully Booked | ' +  bookrec?.title }}">
      <img [src]="'/assets/images/books/' + bookrec?.image" alt="{{ bookrec?.title }}">
    </a>
  </div>

  <div class="rec-content">
    <a class="title" [href]="bookrec?.link" target="_blank" title="{{'Fully Booked | ' +  bookrec?.title }}">
      {{ bookrec?.title }}
    </a>
    <p class="author">
      by <span class="name">{{ bookrec?.author }}</span>
    </p>
    <p class="tags">{{ bookrec?.genre }}</p>
  </div>
</div>