@import "../../../assets/styles/utilities.scss";

.book-rec {
  padding: 15px;
  display: flex;
  align-items: center;
  max-height: 220px;
  height: 220px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid var(--color-yellow-darker);

  .image {
    flex-basis: 130px;
    overflow: hidden;
    max-height: 220px;
    background-color: #fff;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .rec-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 15px;
    word-break: break-word;
    text-align: center;

    .title {
      display: block;
      font-size: 20px;
      font-weight: 800;
      border-bottom: 3px solid var(--color-yellow-darker);
      @extend ._hover;
    }

    .author {
      margin-top: 5px;
      font-size: 12px;
      .name {
        font-size: 16px;
      }
    }

    .tags {
      margin-top: 15px;
      font-size: 14px;
      color: var(--color-yellow);
    }

    @media (max-width: 800px) {
      text-align: left;
    }
  }

  @media (max-width: 400px) {
    max-height: 180px;
    height: 180px;

    .image {
      flex-basis: 100px;
      max-height: 180px;
    }
  }
}
