@import "../../../assets/styles/utilities.scss";

.link-list {
  padding: 15px;
  background-color: var(--color-yellow-darker);

  .title {
    @extend ._text-title;
    color: var(--color-white);
  }

  .list-items {
    .item {
      display: block;
      padding: 10px 15px;
      margin-bottom: 5px;
      background-color: var(--color-white);
      color: var(--color-yellow-darker);
      border-bottom: 3px solid var(--color-yellow);

      @extend ._focus-white;

      &:hover {
        background-color: var(--color-yellow);
        color: var(--color-white);
        transition: ease-in 0.2s;
      }
    }
  }
}
