<div class="link-list">
  <p class="title">More Links</p>

  <div class="list-items">
    <a href="https://goodreads.com/gwenduling" class="item" target="_blank" title="gwenduling | goodreads">Follow my
      reading updates on Goodreads!</a>

    <a class="item" routerLink="/books" title="gwenduling | books">
      Kwe's 2022 Reading Challenge: read 100 books
    </a>

    <a href="https://www.instagram.com/creationsbylym" class="item" target="_blank"
      title="@creationsbylym | Instagram">Book Embosser from @creationsbylym | Instagram
    </a>

    <a href="https://theliteraryculture.com/products/the-song-of-achilles-exclusive-dust-jackets" class="item"
      target="_blank" title="The Literary Culture | The Song of Achilles Dust Jacket">
      The Song of Achilles dust jacket from The Literary Culture</a>

    <a href="https://gwenduling.com/blog/top-5-books-2021" class="item" target="_blank"
      title="gwenduling | Top 5 Books 2021">
      Top 5 books 2021 | Blog</a>

    <a href="https://fullybooked.sjv.io/c/3208535/1283424/14703" class="item" target="_blank"
      title="Fully Booked | Read Women">Fully Booked: Read Women 💕</a>
  </div>
</div>