body {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: var(--text-weight-normal);
  letter-spacing: 2px;
  background-color: var(--color-white);
  overflow-x: hidden;
  * {
    box-sizing: border-box;
  }
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-main {
    margin-bottom: auto;
  }
}

a {
  text-decoration: none;
  color: var(--color-default);

  &:focus {
    outline: 0;
    box-shadow: 0 0 5px 4px var(--color-yellow);
  }
}

p {
  margin: 0;
  font-size: var(--text-size);
  line-height: 1.2;
  color: var(--color-default);
}

mark,
::selection {
  background: rgba(var(--color-yellow-rgb), 0.7);
}

button {
  padding: 0;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 5px 4px var(--color-yellow);
  }
}

.tooltip-container {
  position: fixed;
  padding: 6px 12px;
  width: auto;
  text-align: center;
  font-size: 12px;
  font-weight: var(--text-weight-bolder);
  line-height: initial;
  color: var(--color-dark);
  background-color: rgba(var(--color-yellow-rgb), 0.7);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}