:root {
  --color-white: #f6f6f6;
  --color-default: #4a4747;
  --color-dark: #444;
  --color-yellow: #e3c468;
  --color-yellow-darker: #deba4e;
  --color-yellow-rgb: 222, 186, 78;
  --text-weight-normal: 300;
  --text-weight-bold: 400;
  --text-weight-bolder: 800;
  --text-indent: 25px;
  --text-size: 16px;
  --text-size-subtitle: 18px;
  --text-size-title: 20px;

  --book-5-stars: #dbb33a;
  --book-4-stars: #e2c469;
  --book-3-stars: #cfba7d;
  --book-2-stars: #bcaf87;
  --book-1-star: #d8cfb4;
  --book-dnf: #94938f;
}
