._divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-yellow);
}

._hover {
  position: relative;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--color-yellow);
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

._hover-white {
  @extend ._hover;

  &::before {
    background: var(--color-white);
  }
}

._container {
  max-width: 1500px;
  width: 1500px;
  margin: 0 auto;

  @media (max-width: 1600px) {
    max-width: 1100px;
    width: 1100px;
  }

  @media (max-width: 1200px) {
    max-width: 900px;
    width: 900px;
  }

  @media (max-width: 910px) {
    max-width: 100vw;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }

  @media (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

._padding-top {
  padding-top: 70px;
  @media (max-width: 500px) {
    padding-top: 50px;
  }
}

._padding-bottom {
  padding-bottom: 70px;
  @media (max-width: 500px) {
    padding-bottom: 50px;
  }
}

._padding-left {
  padding-left: 70px;
  @media (max-width: 500px) {
    padding-left: 50px;
  }
}

._padding-right {
  padding-right: 70px;
  @media (max-width: 500px) {
    padding-right: 50px;
  }
}

._padding-y {
  @extend ._padding-top;
  @extend ._padding-bottom;
}

._text-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: var(--text-size-title);
  font-weight: var(--text-weight-bolder);
  line-height: 1;

  @media (max-width: 500px) {
    font-size: var(--text-size-subtitle);
  }
}

._button {
  display: inline-block;
  padding: 5px 12px;
  font-size: var(--text-size);
  font-weight: var(--text-weight-bold);
  text-align: center;
  line-height: 18px;
  border-radius: 4px;
  transition-duration: 0.5s;

  &.-yellow {
    border: 1px solid var(--color-white);
    color: #fff;
    background-color: var(--color-yellow);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-yellow-darker);
      color: var(--color-white);
    }
  }

  &.-white {
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
    background-color: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-yellow-darker);
      color: var(--color-white);
    }
  }
}

._focus-white {
  &:focus {
    box-shadow: 0 0 5px 4px var(--color-white);
  }
}
