<div class="info-component">
  <div class="_container">
    <a class="info" *ngIf="link" href="{{ link }}" target="_blank" title="{{ title ? title : content }}">{{emoji}}
      {{ content }} {{emoji}}</a>
    <p class="info" *ngIf="!link">{{emoji}} {{ content }} {{emoji}}</p>
  </div>
</div>